$width_85: 85%;
$height_80: 80px;
$text_color: #AC5440;
$button_color: #0414B3;
$a_hover_color: #7F14D4;
$space_50: 50px;


@mixin button_style {
  color: $button_color;
  cursor: pointer;
  outline: none;
  height: 40px;
  background-color: $main_color;
  border: 1px solid $button_color;
  border-radius: 10px;
  font-weight: bold;
}
@mixin a_style {
  text-decoration: none;
  color: $text_color;
  font-weight: bold;
  font-size: 13px;
}